*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;

}
form h1{
    padding: 15px;
}
form button{
    display: block;
}
form{
    border: 3px solid black;
    background-color: beige;
    height: 50%;
    border: none;
    border-radius: 30px;
    box-shadow: 3px 3px 5px black;
    text-align: center;

}
form:hover{
    transform-style: flat;
    transform: scale(1.03);
    box-shadow:3px 3px 5px 5px blue;
}
form button{
       margin-left: 15vw; 
       width: 40%; 
       margin-top: 10px;
       font-size: large;
       border: none;
       background-color: aqua;
       border-radius: 10px;

}
form button:hover{
    transform: scale(1.02);
}
form button:active{
    transform: scale(1.01);
}
form input{
    display: block;
    margin-left:15vw;
    margin-top: 8px;
    background-color: beige;
    border: none;
    font-size: larger;
    border-radius: 8px;
    background-color: azure;
}
form label{
    font-size: medium;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
