 
 body{
    transition:all 0.3s ease-in-out;
    animation:fadeIn 1s ease-in 0s 1 ;
}
@keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateX(20px);
      }

      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    #back{
        margin-top: 10px;
    }
 .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100vh;


    }
   
    form{
        border: 1px solid black;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 5px 10px 18px #888888;
    }
    input{
        padding: 10px;
        border-radius: 5px;
        border: 1px solid gray;
        width: 250px;
    }
    input[type="button"]{
        background-color: blue;
        color: white;
        font-weight: bold;
        width: 100%;
        cursor: pointer;
    }
    a{
        text-decoration: none;
        color: blue;
        font-weight: bold;
    }
    h1{
        color:blue;
        font-size:50px;
        margin-bottom: -10px;

    }
    p{
        font-size: 20px;
        font-weight: bold;
    }
    .button{
        background-color: blue;
        color: white;
        font-weight: bold;
        width: 100%;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid gray;
    }
    .button:hover{
        background-color: darkblue;
    }
    .button:active{
        background-color: navy;
    }
    .button:focus{
        outline: none;
    }
    p{
        margin-top: -10px;

    }
